.breadcrumb-fasp {
    border-top: 2px solid #ebebeb;
    padding:9px 0 0 0;  
    margin: 0 0 20px;  
}
ol.breadcrumb-fasp {
    list-style: none;    
    
}
ol.breadcrumb-fasp li {
    display: inline;
    padding: 0;
    margin: 0;    
}
ol.breadcrumb-fasp li {
    color:#acacac;
    font-size: 14px;
}
ol.breadcrumb-fasp li a {
    color:#acacac;
}
ol.breadcrumb-fasp li+li:before {
    padding: 0 7px;
    color: #acacac;
    content: "\f0da";
    font-family: FontAwesome;
}

@media (min-width: $tablet-width) {
    .breadcrumb-fasp {
        border-top:none;
        //border-bottom: 2px solid #ebebeb;
        padding:9px 0 9px 0;    
        margin-bottom: 13px;
    }
}
@media (min-width: $desktop-width) {
    .breadcrumb-fasp {     
        margin-bottom: 0px;       
    }
}