.news-list__date {
    font-size: 14px; 
    color:#acacac ;
    margin-bottom: 8px;
}
.news-list__title {
    font-size: 17px;
    margin-bottom: 10px;
}

.news-list__title > a {
    text-decoration: underline;
    color:#0f76bb;
}
.news-list__announce {
    
}